name: Test Python

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.7, 3.11]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: test
        run: python magic_python/core.py 17. 15
