name: Test Jupyter Notebook

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  install:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.11]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: install test dependency
        run: |
	  sudo apt install jupyter-nbconvert
	  python3 -m pip install pytest matplotlib
      - name: install module
        run: python3 -m pip install .
      - name: prepare notebook
        run: jupyter nbconvert --to python magic_jupyter.ipynb
      - name: Run script
        run: python3 magic_jupyter.py
